
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    max-width: 100%;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 86vh;
}
.hero-section header {
    display: flex;
    justify-content: space-around;   
}

.logo, .nav-list {
    width: 300px;
}
.logo {
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}
.logo img {
    width: 47px;
    height: 47px;
}
.nav-list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: #e5e7eb;
}
.hero-main {
    display: flex;
    justify-content: center
    ;
    height: 300px;
    margin: 52px auto;
    gap: 8px;
}
.hero-main-right {
    width:400px;
    height: 300px;
}
.hero-main-right h1 {
    font-size: 48px;
    margin: 0;
    color: #f9faf8;
}
.hero-main-right p{
    color: #e5e7eb;
    font-size: 12px;
    margin: 0px;
    padding-left: 8px;
}
.hero-main-right button {
    background-color: #3882f6;
    text-align: center;
    margin: 8px auto;
    border: 1px solid #3882f6;
    border-radius: 4px;
    color: #e5e7eb;
    font-weight: 600;
    font-size: 17px;
    width: 122px;
}

.hero-main-left img{
    width: 520px;
    height: 300px;
    object-fit: cover;
}

/* OUR TEAM SECTION */
.team-section {
    width: 100%;
}
.team-section h3 {
    text-align: center;
    padding: 15px;
    
}
.team-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    
}
.team-container div {
    width: 30vh;
    height: 49vh;
}
.team-container img {
    width: 30vh;
    height: 33vh;
    padding: 0;
    margin: 0;
    border: 2px solid #3882f6;
    border-radius: 9px;
}
.team-container p {
    font-size: 12px;
    text-align: center;
    width: 22vh;
    margin: 8px auto;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
    padding: 52px;
    margin: 20px auto;
    
}
.review {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    width: 129vh;
    padding: 30px; 
    font-size: 27px;

}

.reviewer {
    padding: 3px;
    align-self: flex-end;
    font-weight: 600;
    
}

/* CTA SECTION */
.cta-container {
    padding: 30px;

}
.cta-child-container {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 3px;
    width: 152vh;
    height: 16vh;
    margin: auto auto;
    display: flex;
    justify-content: space-around;
}
.cta-child-container div{
    margin: 30px 20px;
    width: 80vh;
    height: 10vh;
}
.cta-child-container div h5{
    color: #f9faf8;
    font-weight: 600;
    font-size: 20px;
    margin: auto auto;
}
.cta-child-container div p {
    font-size: 18px;
    margin: 0;
    color: #e5e7eb;
}
.button {
    background-color: #3882f6;
    border:  3px solid white;
    width: 26vh;
    height: 5vh;
    margin: 30px 20px;
    border-radius: 8px;
    color: #e5e7eb;
}
.footer-section {
    height: 5px;
}
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    margin: 2px auto;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}
.footer img {
    width: 12px;
    
}